$primary-lite   : #bab2ec;
$primary        : #6357b1;
$primary-dark   : #423a79;
$secondry       : #26fe90;
$secondry-dark  : #0ec367;
$white          : #ffffff;
$btn-color      : #4a4a4a;
$black          : #000000;
$body-grey      : #7f7f7f;
$lite-grey      : #dbdbdb;
$red            : #ff0000;
$disabled       : #ccffe7;
$disabled-text  : #d7d8d8;